@import "config";

section{
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    form{
        width: 45%;
        min-height: 80%;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        padding: 2rem;
        input,select{
            margin: .2rem 0;
            min-height: 2.3rem;
            font-size: .9rem;
        }
        .big-inp,.short-inp-con{
            padding: 0 .5rem;
            width: 90% !important;
            min-width: 15rem;
        }
        .short-inp-con{
            padding: 0;
            width: 92.3% !important;
            display: flex;
            flex-wrap: wrap;
            gap: 0;
            flex-direction: row;
            justify-content: space-between;
            .short-inp{
                min-width: 44%;
                padding-left: .5rem;
            }
        }
        h3{
            margin: .4rem 0;
            font-size: larger;
        }
        div{
            display: flex;
            justify-content: left;
            flex-direction: column;
            // gap: .3rem;
            width: 100%;
            p{
                display: flex;
                align-items: center;
                gap: .4rem;
            }
        }
        select{
            width: 94%;
            flex-direction: row;
            justify-content: left;
        }
        .payment-method{
            .methods-con{
                width: 80%;
                .method{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin: .3rem 0;
                    border-radius: 6px;
                    width: 70%;
                    height: 5rem;
                    background: $color-ultra-light-grey;
                     
                }
                .selected{
                    border: 1.3px solid $color-dark;
                }
            }
        }
        .submit-con{
            width: 100%;
            align-items: flex-start;
            .submit-wrapper{
                width: 35%;
                justify-content: left;
                align-self: right;
                input[type="submit"]{
                    height: 3.5rem;
                    border: none !important;
                    font-weight: 550;
                    border-radius: 6px;
                    background: $color-light-green;
                    color: white;
                    font-size: 1.09rem;
                    &:hover{
                        background: $color-dark-green;
                    }
                    &:focus{
                        outline: 0.125em solid $color-dark-green;
                        outline-offset: 0.25em;
                    }
                }
            }
        }
        
        }
    .product-info{
        background: whitesmoke;
        min-width: 47%;
        min-height: 50%;

    }

}